#menubar a {
    text-decoration: none;
    font-family: "Teko", sans-serif;
    font-size: 1.1rem;
    margin-left: 15px;
}

#menubar a:hover {
    color: #f74c70;
}

.link {
    color: #fff;
    transition: color ease-in-out 300ms;
}


.active-link {
    transition: color ease-in-out 300ms;
    color: #f74c70;
}